body {
    background: url('../img/imagedoc-darknoise.png');
    color: #DDD;
    padding: 10px;
    font-family: monospace;
}

#cli {
    border-radius: 3px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
}

#cli input {
    margin-left: 10px;
    border: 0px solid #999;
    background: rgba(0, 0, 0, 0);
    color: white;
    width: 90%;
}

.cycle {
    border-radius: 3px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}

.cycle .command {
    margin-bottom: 5px;
}

.error {
    color: red;
}